.menuIcon {
  position: relative;
  cursor: pointer;
}
.menuIcon,
.openParcelIcon {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.openParcelIcon,
.spcs {
  position: relative;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  font-size: var(--font-size-6xl);
  color: var(--color-black);
}
.home,
.trackYourShipment {
  cursor: pointer;
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
}
.trackYourShipment {
  display: inline-block;
  width: 146px;
  flex-shrink: 0;
}
.navLinks,
.navLinksWrapper {
  width: 566px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navLinksWrapper {
  width: 611.1px;
  height: 37px;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.logout {
  position: absolute;
  top: 13.41%;
  left: 37.98%;
  font-weight: 600;
}
.logoutIcon {
  position: absolute;
  height: 100%;
  width: 33.72%;
  top: 0;
  right: 66.28%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.logoutParent,
.menu {
  cursor: pointer;
  position: relative;
}
.logoutParent {
  text-decoration: none;
  width: 77.4px;
  height: 26.1px;
  color: inherit;
}
.menu {
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 40px;
  height: 40px;
  background-image: url(/public/menu@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: none;
}
.actions,
.logoParent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.actions {
  justify-content: center;
  gap: var(--gap-smi);
}
.logoParent {
  position: absolute;
  height: 41.49%;
  width: 93.61%;
  top: 29.25%;
  right: 3.19%;
  bottom: 29.25%;
  left: 3.19%;
  justify-content: space-between;
}
.frameChild,
.navContainer {
  align-self: stretch;
  position: relative;
}
.navContainer {
  background-color: var(--color-white);
  height: 96.4px;
  color: var(--color-darkslategray);
}
.frameChild {
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bookAPacketParent {
  align-self: stretch;
  background-color: var(--color-whitesmoke-200);
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-31xl);
  box-sizing: border-box;
  gap: var(--gap-smi);
  font-size: var(--font-size-base);
}
.selectPickedUp {
  flex: 1;
  position: relative;
}
.selectPickedUpDateTimeWrapper {
  align-self: stretch;
  background-color: var(--color-white);
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-31xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-base);
}
.shippingFrom {
  margin: 0;
}
.name {
  font-family: var(--font-inter);
}
.country,
.name {
  font-weight: 600;
}
.uk {
  font-family: var(--font-inter);
}
.shippingFromNameJohnDoeWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.edit {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
}
.editWrapper,
.frameParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.editWrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--color-lightseagreen);
  border-radius: var(--br-8xs);
  width: 98px;
  height: 30px;
  box-sizing: border-box;
}
.frameParent {
  align-self: stretch;
  flex: 1;
  background-color: var(--color-whitesmoke-100);
  padding: var(--padding-xl) var(--padding-11xl);
  gap: var(--gap-6xl);
}
.consigneeToNameContainer {
  flex: 1;
  position: relative;
  white-space: pre-wrap;
}
.content {
  align-self: stretch;
  background-color: var(--color-whitesmoke-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-11xl) var(--padding-51xl);
  gap: var(--gap-23xl);
  color: var(--color-black);
}
.pickupDate,
.yourParcelOr {
  position: relative;
  font-weight: 600;
}
.pickupDate {
  align-self: stretch;
  font-weight: 500;
}
.dateFrom {
  flex: 1;
}
.dateFromWrapper,
.pickupDateParent {
  align-self: stretch;
  align-items: flex-start;
}
.dateFromWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.pickupDateParent {
  flex-direction: column;
  gap: var(--gap-5xs);
}
.frameDiv,
.frameWrapper,
.pickupDateParent {
  display: flex;
  justify-content: center;
}
.frameWrapper {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
}
.frameDiv {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-11xl);
  font-size: var(--font-size-xs);
}
.iWantTo {
  flex: 1;
  position: relative;
  font-weight: 600;
}
.infoIcon {
  position: relative;
  width: 18px;
  height: 18px;
  object-fit: cover;
}
.iWantToPickupMyParcelOnParent {
  width: 248px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  font-size: var(--font-size-sm);
}
.selectedPickupDateTimeWrapper {
  width: 248px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
}
.pickupCharges {
  flex: 1;
  position: relative;
  font-weight: 500;
}
.frameParent1,
.pickupCharges10Wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.pickupCharges10Wrapper {
  width: 248px;
  flex-direction: row;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
}
.frameParent1 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-sm);
  font-size: var(--font-size-xs);
}
.bookAPacket1 {
  flex: 1;
  background-color: var(--color-white);
  border-top: 2px solid var(--color-lightseagreen);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-lgi) var(--padding-21xl);
  gap: var(--gap-xl);
}
.backWrapper,
.bookAPacket1,
.content1 {
  display: flex;
  justify-content: center;
}
.content1 {
  align-self: stretch;
  background-color: var(--color-whitesmoke-200);
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-11xl) var(--padding-51xl);
  color: var(--color-black);
}
.backWrapper {
  cursor: pointer;
  text-decoration: none;
  border-radius: var(--br-8xs);
  background-color: var(--color-lightseagreen);
  width: 98px;
  height: 30px;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  color: inherit;
}
.content2,
.frameParent2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frameParent2 {
  flex: 1;
  justify-content: space-between;
}
.content2 {
  align-self: stretch;
  background-color: var(--color-white);
  border-top: 2px solid var(--color-gray-500);
  justify-content: center;
  padding: var(--padding-9xl) var(--padding-51xl);
  text-align: center;
  color: var(--color-white);
}
.legal {
  margin: 0;
  font-size: var(--font-size-base);
}
.termsConditions {
  margin: 0;
  text-decoration: underline;
}
.legalTermsContainer {
  flex: 1;
  position: relative;
  line-height: 26px;
  font-weight: 500;
}
.legalTermsConditionsPrivaWrapper {
  width: 132px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.shippingGuideline {
  margin: 0;
  font-size: var(--font-size-xs);
  text-decoration: underline;
}
.informationShippingGuidelineContainer {
  align-self: stretch;
  position: relative;
  line-height: 26px;
  font-weight: 500;
}
.maskGroupIcon {
  position: relative;
  width: 144.5px;
  height: 30px;
  object-fit: cover;
}
.informationShippingGuidelineParent {
  height: 114px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  font-size: var(--font-size-base);
}
.frameParent3 {
  width: 320.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xl);
}
.spcsAllRights {
  position: relative;
  font-weight: 500;
}
.footer,
.spcsAllRightsReservedWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.spcsAllRightsReservedWrapper {
  height: 152px;
  justify-content: flex-end;
  text-align: center;
  font-size: var(--font-size-sm);
}
.footer {
  align-self: stretch;
  background-color: var(--color-black);
  justify-content: space-between;
  padding: var(--padding-5xl) var(--padding-35xl);
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.bookAPacketSelectPickupD {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-lightseagreen);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .content,
  .content1 {
    flex-direction: row;
  }
  .content2 {
    height: auto;
  }
}
@media screen and (max-width: 960px) {
  .menuIcon,
  .navLinksWrapper {
    display: none;
  }
  .menu {
    display: flex;
  }
  .content,
  .content1 {
    flex-direction: row;
    gap: var(--gap-3xs);
    padding-left: var(--padding-11xl);
    padding-top: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .footer {
    flex-direction: row;
  }
}
@media screen and (max-width: 420px) {
  .content {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .bookAPacket1 {
    flex: 1;
  }
  .content1,
  .content2 {
    box-sizing: border-box;
  }
  .content1 {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
  }
  .content2 {
    padding-top: var(--padding-9xl);
  }
  .footer {
    flex-direction: row;
  }
}
@media screen and (max-width: 350px) {
  .content,
  .content1,
  .content2,
  .frameParent3 {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .frameParent3 {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: var(--padding-61xl);
    padding-right: var(--padding-51xl);
  }
  .spcsAllRightsReservedWrapper {
    height: 80px;
  }
}
@media screen and (max-width: 1440px) {
  .editWrapper:hover {
    background: linear-gradient(#15dae5, #15dae5), #00adb5;
    transition: 0.3;
  }
  .bookAPacket1 {
    flex-direction: column;
  }
}
@media screen and (max-width: 820px) {
  .content,
  .content1 {
    gap: var(--gap-3xs);
  }
}
@media screen and (max-width: 786px) {
  .content,
  .content1 {
    background-color: var(--color-whitesmoke-200);
    height: auto;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .frameParent2 {
    flex: unset;
    align-self: stretch;
  }
  .content2 {
    align-items: center;
    justify-content: center;
  }
  .bookAPacketSelectPickupD,
  .content2 {
    flex-direction: column;
  }
}
@media screen and (max-width: 584px) {
  .frameParent {
    flex: unset;
    align-self: stretch;
  }
  .content {
    background-color: var(--color-whitesmoke-200);
    gap: var(--gap-3xs);
    padding: var(--padding-31xl) 0;
    box-sizing: border-box;
  }
  .content,
  .pickupDateParent {
    flex-direction: column;
  }
  .frameWrapper {
    flex: unset;
    align-self: stretch;
  }
  .frameDiv {
    flex-direction: column;
  }
  .bookAPacket1 {
    flex: unset;
    align-self: stretch;
  }
  .content1,
  .footer {
    flex-direction: column;
  }
  .content1 {
    background-color: var(--color-whitesmoke-200);
    gap: var(--gap-3xs);
    padding: var(--padding-31xl) 0;
    box-sizing: border-box;
  }
  .footer {
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 648px) {
  .frameParent {
    padding-left: var(--padding-31xl);
    padding-right: var(--padding-31xl);
    box-sizing: border-box;
    flex: unset;
    align-self: stretch;
  }
  .content {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .bookAPacket1 {
    align-self: stretch;
    width: auto;
    flex: unset;
  }
  .content1 {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 456px) {
  .content,
  .content1 {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .content2 {
    padding-top: var(--padding-9xl);
    box-sizing: border-box;
  }
}
