.addBranch,
.frameChild {
  position: relative;
}
.frameChild {
  align-self: stretch;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.addBranchParent {
  align-self: stretch;
  background-color: var(--color-whitesmoke-200);
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-31xl);
  box-sizing: border-box;
  gap: var(--gap-smi);
  font-size: var(--font-size-base);
}
.addNewBranch {
  flex: 1;
  position: relative;
}
.addNewBranchWrapper {
  align-self: stretch;
  background-color: var(--color-whitesmoke-200);
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-31xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-xl);
}
.shipperName {
  align-self: stretch;
  position: relative;
  font-weight: 500;
}
.shipperNmae {
  border: 0;
  background-color: transparent;
  flex: 1;
}
.shipperNmaeWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.shipperNameParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs);
}
.frameDiv,
.frameWrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.frameContainer,
.frameGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl);
}
.frameContainer {
  flex: 1;
}
.frameGroup {
  align-self: stretch;
}
.frameItem {
  flex: 1;
}
.frameParent3 {
  flex: 1;
  flex-direction: row;
}
.frameParent,
.frameParent2,
.frameParent3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl);
}
.frameParent2 {
  align-self: stretch;
  flex-direction: row;
}
.frameParent {
  flex: 1;
  flex-direction: column;
}
.shipperFormChild,
.shipperFormInner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.shipperFormChild {
  justify-content: flex-end;
}
.shipperForm {
  flex: 1;
  background-color: var(--color-white);
  border-top: 2px solid var(--color-lightseagreen);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-31xl) var(--padding-21xl);
  gap: var(--gap-11xl);
}
.backWrapper,
.content,
.shipperForm {
  display: flex;
  justify-content: center;
}
.content {
  align-self: stretch;
  background-color: var(--color-whitesmoke-200);
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-41xl) var(--padding-51xl);
  color: var(--color-black);
}
.backWrapper {
  cursor: pointer;
  text-decoration: none;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-200);
  width: 98px;
  height: 30px;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  color: inherit;
}
.content1,
.frameParent5 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frameParent5 {
  flex: 1;
  justify-content: space-between;
}
.content1 {
  align-self: stretch;
  background-color: var(--color-white);
  border-top: 2px solid var(--color-gray-500);
  justify-content: center;
  padding: var(--padding-9xl) var(--padding-51xl);
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.legal {
  margin: 0;
  font-size: var(--font-size-base);
}
.termsConditions {
  margin: 0;
  text-decoration: underline;
}
.legalTermsContainer {
  flex: 1;
  position: relative;
  line-height: 26px;
  font-weight: 500;
}
.legalTermsConditionsPrivaWrapper {
  width: 132px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.information {
  margin: 0;
}
.shippingGuideline {
  margin: 0;
  font-size: var(--font-size-xs);
  text-decoration: underline;
}
.informationShippingGuidelineContainer {
  align-self: stretch;
  position: relative;
  line-height: 26px;
  font-weight: 500;
}
.informationShippingGuidelineWrapper {
  height: 114px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  font-size: var(--font-size-base);
}
.frameParent6 {
  width: 320.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xl);
}
.spcsAllRights {
  position: relative;
  font-weight: 500;
}
.spcsAllRightsReservedWrapper {
  height: 152px;
  flex-direction: row;
  justify-content: flex-end;
  text-align: center;
  font-size: var(--font-size-sm);
}
.branchesAddBranch,
.footer,
.spcsAllRightsReservedWrapper {
  display: flex;
  align-items: center;
}
.footer {
  align-self: stretch;
  background-color: var(--color-black);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-5xl) var(--padding-35xl);
  color: var(--color-white);
}
.branchesAddBranch {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-lightseagreen);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .content1 {
    height: auto;
  }
}
@media screen and (max-width: 960px) {
  .footer {
    flex-direction: row;
  }
}
@media screen and (max-width: 420px) {
  .shipperForm {
    flex: 1;
  }
  .content,
  .content1 {
    box-sizing: border-box;
  }
  .content {
    padding-left: 0;
    padding-right: 0;
  }
  .content1 {
    padding-top: var(--padding-9xl);
  }
  .footer {
    flex-direction: row;
  }
}
@media screen and (max-width: 350px) {
  .content,
  .content1,
  .frameParent6 {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .frameParent6 {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: var(--padding-61xl);
    padding-right: var(--padding-51xl);
  }
  .spcsAllRightsReservedWrapper {
    height: 80px;
  }
}
@media screen and (max-width: 1440px) {
  .backWrapper:hover {
    background: linear-gradient(#15dae5, #15dae5), #00adb5;
    transition: 0.3;
  }
}
@media screen and (max-width: 786px) {
  .content {
    background-color: var(--color-whitesmoke-200);
    height: auto;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  .frameParent5 {
    flex: unset;
    align-self: stretch;
  }
  .content1 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 584px) {
  .shipperNameParent {
    flex-direction: column;
  }
  .frameContainer,
  .frameWrapper {
    flex: unset;
    align-self: stretch;
  }
  .frameContainer,
  .frameGroup,
  .frameParent3 {
    flex-direction: column;
  }
  .frameParent {
    flex: unset;
    align-self: stretch;
  }
  .shipperFormInner {
    flex-direction: column;
  }
  .content {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 648px) {
  .frameContainer {
    flex: unset;
    align-self: stretch;
  }
  .frameGroup {
    flex-direction: column;
  }
  .frameParent3 {
    flex: unset;
    align-self: stretch;
  }
  .frameParent2 {
    flex-direction: column;
  }
  .shipperForm {
    flex: 1;
  }
  .content {
    flex-direction: row;
  }
}
@media screen and (max-width: 456px) {
  .content1 {
    padding-top: var(--padding-9xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1105px) {
  .frameContainer {
    flex: unset;
    align-self: stretch;
  }
  .frameGroup {
    flex-direction: column;
  }
  .frameParent3 {
    flex: unset;
    align-self: stretch;
  }
  .frameParent2 {
    flex-direction: column;
  }
}
