.frameChild,
.viewAllBranches {
  position: relative;
}
.frameChild {
  align-self: stretch;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.viewAllBranchesParent {
  align-self: stretch;
  background-color: var(--color-whitesmoke-200);
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-31xl);
  box-sizing: border-box;
  gap: var(--gap-smi);
  font-size: var(--font-size-base);
}
.viewAllBranches1 {
  flex: 1;
  position: relative;
}
.viewAllBranchesWrapper {
  align-self: stretch;
  background-color: var(--color-whitesmoke-200);
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-31xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-xl);
}
.totalBranches3 {
  position: relative;
  font-weight: 600;
}
.addNewWrapper {
  cursor: pointer;
  text-decoration: none;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-200);
  width: 98px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  color: inherit;
}
.frameWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  color: var(--color-white);
}
.totalBranches3Parent {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-81xl);
  box-sizing: border-box;
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.select {
  flex: 1;
  position: relative;
  font-weight: 500;
}
.selectWrapper {
  align-self: stretch;
  background-color: var(--color-lightseagreen);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-3xs);
}
.maskGroupIcon {
  position: relative;
  width: 20.7px;
  height: 21.7px;
  object-fit: cover;
}
.frameDiv,
.maskGroupContainer,
.maskGroupWrapper,
.maskGroupWrapper1 {
  align-self: stretch;
  height: 45px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini) var(--padding-3xs);
  box-sizing: border-box;
}
.maskGroupWrapper {
  background-color: var(--color-white);
  display: flex;
}
.frameDiv,
.maskGroupContainer,
.maskGroupWrapper1 {
  background-color: var(--color-whitesmoke-200);
}
.maskGroupContainer {
  display: flex;
}
.frameDiv,
.maskGroupWrapper1 {
  display: none;
}
.maskGroupWrapper1 {
  background-color: var(--color-white);
}
.members {
  width: 72px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.cityContainer,
.cityWrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
}
.cityWrapper {
  background-color: var(--color-lightseagreen);
  display: flex;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-3xs);
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.cityContainer {
  background-color: var(--color-white);
  padding: var(--padding-mini) var(--padding-3xs);
}
.cityContainer,
.cityFrame,
.members1,
.members2 {
  display: flex;
  justify-content: flex-start;
}
.cityFrame {
  align-self: stretch;
  background-color: var(--color-whitesmoke-200);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-mini) var(--padding-3xs);
}
.members1,
.members2 {
  width: 123px;
  flex-direction: column;
  align-items: flex-start;
}
.members2 {
  width: 219px;
}
.clothesFrame,
.fashionKitContainer {
  align-self: stretch;
  background-color: var(--color-whitesmoke-200);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-3xs);
}
.fashionKitContainer {
  background-color: var(--color-white);
}
.bookingCreatedContainer,
.bookingCreatedWrapper,
.statusWrapper {
  width: 133px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}
.statusWrapper {
  background-color: var(--color-lightseagreen);
  padding: var(--padding-smi) var(--padding-3xs);
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.bookingCreatedContainer,
.bookingCreatedWrapper {
  background-color: var(--color-white);
  padding: var(--padding-mini) var(--padding-3xs);
}
.bookingCreatedContainer {
  background-color: var(--color-whitesmoke-200);
}
.members4,
.members5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.members4 {
  width: 131px;
}
.members5 {
  flex: 1;
}
.eyeIcon {
  display: none;
}
.editIcon,
.eyeIcon {
  position: relative;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.eyeParent,
.members6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.eyeParent {
  flex-direction: row;
  gap: var(--gap-11xs);
}
.members6 {
  width: 146px;
  flex-direction: column;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.membersParent,
.openInWindowsWrapper {
  align-items: center;
  box-sizing: border-box;
}
.membersParent {
  background-color: var(--color-white);
  border-top: 1px solid var(--color-lightseagreen);
  border-right: 1px solid var(--color-lightseagreen);
  border-left: 1px solid var(--color-lightseagreen);
  width: 1110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.openInWindowsWrapper {
  border-radius: var(--br-8xs);
  background-color: var(--color-lightseagreen);
  width: 98px;
  height: 30px;
  display: none;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-3xs);
  cursor: pointer;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.back,
.content {
  text-align: center;
}
.content {
  align-self: stretch;
  background-color: var(--color-whitesmoke-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-31xl) var(--padding-51xl);
  gap: var(--gap-34xl);
  color: var(--color-black);
}
.back {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
  color: var(--color-white);
}
.backWrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--color-gray-200);
  border-radius: var(--br-8xs);
  width: 98px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.content1,
.contentInner {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contentInner {
  flex: 1;
  justify-content: flex-start;
}
.content1 {
  align-self: stretch;
  background-color: var(--color-white);
  border-top: 2px solid var(--color-gray-500);
  justify-content: center;
  padding: var(--padding-9xl) var(--padding-51xl);
}
.legal {
  margin: 0;
  font-size: var(--font-size-base);
}
.termsConditions {
  margin: 0;
  text-decoration: underline;
}
.legalTermsContainer {
  flex: 1;
  position: relative;
  line-height: 26px;
  font-weight: 500;
}
.legalTermsConditionsPrivaWrapper {
  width: 132px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.information {
  margin: 0;
}
.shippingGuideline {
  margin: 0;
  font-size: var(--font-size-xs);
  text-decoration: underline;
}
.informationShippingGuidelineContainer {
  align-self: stretch;
  position: relative;
  line-height: 26px;
  font-weight: 500;
}
.informationShippingGuidelineWrapper {
  height: 114px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  font-size: var(--font-size-base);
}
.frameParent {
  width: 320.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xl);
}
.spcsAllRights {
  position: relative;
  font-weight: 500;
}
.footer,
.spcsAllRightsReservedWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.spcsAllRightsReservedWrapper {
  height: 152px;
  justify-content: flex-end;
  text-align: center;
  font-size: var(--font-size-sm);
}
.footer {
  align-self: stretch;
  background-color: var(--color-black);
  justify-content: space-between;
  padding: var(--padding-5xl) var(--padding-35xl);
  color: var(--color-white);
}
.branchesViewAllBranchesMai {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-lightseagreen);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .content1 {
    height: auto;
  }
}
@media screen and (max-width: 960px) {
  .membersParent {
    display: none;
  }
  .openInWindowsWrapper {
    display: flex;
  }
  .footer {
    flex-direction: row;
  }
  .branchesViewAllBranchesMai {
    display: flex;
  }
}
@media screen and (max-width: 420px) {
  .content1 {
    padding-top: var(--padding-9xl);
    box-sizing: border-box;
  }
  .footer {
    flex-direction: row;
  }
}
@media screen and (max-width: 350px) {
  .content,
  .content1,
  .frameParent {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .frameParent {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: var(--padding-61xl);
    padding-right: var(--padding-51xl);
  }
  .spcsAllRightsReservedWrapper {
    height: 80px;
  }
}
@media screen and (max-width: 1440px) {
  .addNewWrapper:hover,
  .backWrapper:hover {
    background: linear-gradient(#15dae5, #15dae5), #00adb5;
    transition: 0.3;
  }
}
@media screen and (max-width: 786px) {
  .content {
    background-color: var(--color-whitesmoke-200);
    height: auto;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  .contentInner {
    flex: unset;
    align-self: stretch;
  }
  .content1 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 584px) {
  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 648px) {
  .totalBranches3Parent {
    padding-left: var(--padding-31xl);
    padding-right: var(--padding-31xl);
    box-sizing: border-box;
  }
  .content {
    flex-direction: row;
  }
}
@media screen and (max-width: 456px) {
  .totalBranches3Parent {
    align-self: stretch;
    height: auto;
    flex-direction: column;
    gap: var(--gap-lg);
  }
  .content1 {
    padding-top: var(--padding-9xl);
    box-sizing: border-box;
  }
}
