.menuIcon {
  position: relative;
  cursor: pointer;
}
.menuIcon,
.openParcelIcon {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.openParcelIcon,
.spcs {
  position: relative;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  font-size: var(--font-size-6xl);
  color: var(--color-black);
}
.home,
.trackYourShipment {
  cursor: pointer;
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
}
.trackYourShipment {
  display: inline-block;
  width: 146px;
  flex-shrink: 0;
}
.navLinks,
.navLinksWrapper {
  width: 566px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navLinksWrapper {
  width: 611.1px;
  height: 37px;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.logout {
  position: absolute;
  top: 13.41%;
  left: 37.98%;
  font-weight: 600;
}
.logoutIcon {
  position: absolute;
  height: 100%;
  width: 33.72%;
  top: 0;
  right: 66.28%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.logoutParent,
.menu {
  cursor: pointer;
  position: relative;
}
.logoutParent {
  text-decoration: none;
  width: 77.4px;
  height: 26.1px;
  color: inherit;
}
.menu {
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 40px;
  height: 40px;
  background-image: url(/public/menu@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: none;
}
.actions,
.logoParent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.actions {
  justify-content: center;
  gap: var(--gap-smi);
}
.logoParent {
  position: absolute;
  height: 41.49%;
  width: 93.61%;
  top: 29.25%;
  right: 3.19%;
  bottom: 29.25%;
  left: 3.19%;
  justify-content: space-between;
}
.frameChild,
.navContainer {
  align-self: stretch;
  position: relative;
}
.navContainer {
  background-color: var(--color-white);
  height: 96.4px;
  color: var(--color-darkslategray);
}
.frameChild {
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.returnShipmentParent {
  align-self: stretch;
  background-color: var(--color-whitesmoke-200);
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-31xl);
  box-sizing: border-box;
  gap: var(--gap-smi);
  font-size: var(--font-size-base);
  color: var(--color-lightseagreen);
}
.generateReturnShippingLabel,
.loremIpsumDolorSitAmetCon {
  margin-block-start: 0;
  margin-block-end: 9px;
}
.loremIpsumDolorSitAmetCon {
  font-size: var(--font-size-base);
}
.span {
  font-weight: 600;
  font-family: var(--font-inter);
}
.p {
  margin: 0;
}
.generateReturnShippingContainer {
  align-self: stretch;
  position: relative;
}
.expiryDate,
.firstName {
  font-weight: 500;
  position: relative;
}
.expiryDate {
  align-self: stretch;
}
.firstName {
  border: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-3xs);
  background-color: transparent;
  flex: 1;
  color: var(--inside-feild-text);
  text-align: left;
}
.firstNameWrapper {
  flex: 1;
  background-color: var(--color-gainsboro-200);
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-6xl);
  box-sizing: border-box;
}
.expiryDateParent,
.frameContainer {
  display: flex;
  align-items: flex-start;
}
.frameContainer {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
}
.expiryDateParent {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-5xs);
}
.frameWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.submit {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
}
.submitWrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--color-lightseagreen);
  border-radius: var(--br-8xs);
  width: 98px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.frameParent,
.generateReturnShippingLabelParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-3xl);
  text-align: left;
  font-size: var(--font-size-xs);
}
.generateReturnShippingLabelParent {
  background-color: var(--color-whitesmoke-200);
  align-items: flex-start;
  padding: var(--padding-xl) var(--padding-281xl);
  gap: var(--gap-10xs);
  text-align: center;
  font-size: var(--font-size-6xl);
}
.loremIpsumDolorSitAmetCo {
  margin: 0;
  font-size: var(--font-size-base);
}
.generateReturnShippingContainer1 {
  flex: 1;
  position: relative;
  white-space: pre-wrap;
}
.generateReturnShippingLabelWrapper {
  align-self: stretch;
  background-color: var(--color-whitesmoke-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-281xl);
  text-align: center;
  font-size: var(--font-size-6xl);
}
.frameItem {
  border: 0;
  background-color: transparent;
  flex: 1;
}
.scanBarcode {
  position: relative;
  font-weight: 500;
}
.barcodeScannerIcon {
  position: relative;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.scanBarcodeParent {
  background-color: var(--color-white);
  width: 154px;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  cursor: pointer;
}
.applyWrapper,
.frameDiv {
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.frameDiv {
  width: 664px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.applyWrapper {
  cursor: pointer;
  text-decoration: none;
  border-radius: var(--br-8xs);
  background-color: var(--color-lightseagreen);
  width: 98px;
  height: 30px;
  flex-direction: column;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.applyWrapper,
.content,
.frameGroup,
.nextWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.frameGroup {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-xl);
  gap: var(--gap-3xs);
}
.content,
.nextWrapper {
  flex-direction: column;
}
.content {
  align-self: stretch;
  background-color: var(--color-whitesmoke-200);
  padding: 0 var(--padding-51xl);
  font-size: var(--font-size-3xs);
  color: var(--inside-feild-text);
}
.nextWrapper {
  cursor: pointer;
  text-decoration: none;
  border-radius: var(--br-8xs);
  background-color: var(--color-lightseagreen);
  width: 98px;
  height: 30px;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  color: inherit;
}
.content1,
.frameParent1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frameParent1 {
  flex: 1;
  justify-content: space-between;
}
.content1 {
  align-self: stretch;
  background-color: var(--color-white);
  border-top: 2px solid var(--color-gray-500);
  justify-content: center;
  padding: var(--padding-9xl) var(--padding-51xl);
  text-align: center;
  color: var(--color-white);
}
.termsConditions {
  margin: 0;
  text-decoration: underline;
}
.legalTermsContainer {
  flex: 1;
  position: relative;
  line-height: 26px;
  font-weight: 500;
}
.legalTermsConditionsPrivaWrapper {
  width: 132px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.shippingGuideline {
  margin: 0;
  font-size: var(--font-size-xs);
  text-decoration: underline;
}
.informationShippingGuidelineContainer {
  align-self: stretch;
  position: relative;
  line-height: 26px;
  font-weight: 500;
}
.maskGroupIcon {
  position: relative;
  width: 144.5px;
  height: 30px;
  object-fit: cover;
}
.informationShippingGuidelineParent {
  height: 114px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  font-size: var(--font-size-base);
}
.frameParent2 {
  width: 320.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xl);
}
.spcsAllRightsReservedWrapper {
  height: 152px;
  flex-direction: row;
  justify-content: flex-end;
  text-align: center;
  font-size: var(--font-size-sm);
}
.footer,
.returnShipmentMain,
.spcsAllRightsReservedWrapper {
  display: flex;
  align-items: center;
}
.footer {
  align-self: stretch;
  background-color: var(--color-black);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-5xl) var(--padding-35xl);
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.returnShipmentMain {
  position: relative;
  background-color: var(--color-whitesmoke-200);
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .content1 {
    height: auto;
  }
}
@media screen and (max-width: 960px) {
  .menuIcon,
  .navLinksWrapper {
    display: none;
  }
  .menu {
    display: flex;
  }
  .generateReturnShippingLabelParent,
  .generateReturnShippingLabelWrapper {
    padding-left: var(--padding-81xl);
    padding-right: var(--padding-81xl);
    box-sizing: border-box;
  }
  .footer {
    flex-direction: row;
  }
}
@media screen and (max-width: 420px) {
  .generateReturnShippingLabelParent,
  .generateReturnShippingLabelWrapper {
    padding-left: var(--padding-81xl);
    padding-right: var(--padding-81xl);
    box-sizing: border-box;
  }
  .frameGroup {
    padding-left: var(--padding-3xs);
    padding-right: var(--padding-3xs);
  }
  .content,
  .content1,
  .frameGroup {
    box-sizing: border-box;
  }
  .content {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-11xl);
  }
  .content1 {
    padding-top: var(--padding-9xl);
  }
  .footer {
    flex-direction: row;
  }
}
@media screen and (max-width: 350px) {
  .content,
  .content1,
  .frameParent2 {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .frameParent2 {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: var(--padding-61xl);
    padding-right: var(--padding-51xl);
  }
  .spcsAllRightsReservedWrapper {
    height: 80px;
  }
}
@media screen and (max-width: 1440px) {
  .submitWrapper:hover {
    background: linear-gradient(#15dae5, #15dae5), #00adb5;
    transition: 0.3;
  }
}
@media screen and (max-width: 786px) {
  .frameItem {
    flex: unset;
    align-self: stretch;
  }
  .scanBarcodeParent {
    align-self: stretch;
    width: auto;
  }
  .content,
  .frameDiv {
    flex-direction: column;
  }
  .content {
    align-items: center;
    justify-content: center;
  }
  .frameParent1 {
    flex: unset;
    align-self: stretch;
  }
  .content1 {
    align-items: center;
    justify-content: center;
  }
  .content1,
  .returnShipmentMain {
    flex-direction: column;
  }
}
@media screen and (max-width: 584px) {
  .expiryDateParent {
    flex-direction: column;
  }
  .frameDiv,
  .scanBarcodeParent {
    align-self: stretch;
    width: auto;
  }
  .frameDiv {
    padding-left: var(--padding-3xs);
    box-sizing: border-box;
  }
  .footer,
  .frameGroup {
    flex-direction: column;
  }
  .footer {
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 456px) {
  .returnShipmentParent {
    padding-left: var(--padding-81xl);
    box-sizing: border-box;
  }
  .generateReturnShippingLabelParent,
  .generateReturnShippingLabelWrapper {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .frameGroup {
    flex-direction: column;
  }
  .content1 {
    padding-top: var(--padding-9xl);
    box-sizing: border-box;
  }
}
