.frameChild,
.parcelsConsolidationProcess {
  position: relative;
}
.frameChild {
  align-self: stretch;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.parcelsConsolidationProcessParent {
  align-self: stretch;
  background-color: var(--color-whitesmoke-200);
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-31xl);
  box-sizing: border-box;
  gap: var(--gap-smi);
  font-size: var(--font-size-base);
}
.allParcelsConsolidation {
  flex: 1;
  position: relative;
}
.allParcelsConsolidationProcWrapper {
  align-self: stretch;
  background-color: var(--color-whitesmoke-200);
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-31xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-xl);
}
.destinationCountry {
  align-self: stretch;
  position: relative;
  font-weight: 500;
}
.frameItem {
  flex: 1;
}
.frameWrapper4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.destinationCountryParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs);
}
.frameWrapper2,
.frameWrapper3 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.frameContainer,
.frameDiv,
.frameWrapper,
.frameWrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameWrapper1 {
  flex: 1;
}
.frameContainer,
.frameDiv,
.frameWrapper {
  align-self: stretch;
}
.frameContainer,
.frameWrapper {
  flex-direction: column;
}
.frameWrapper {
  align-items: center;
  justify-content: center;
}
.apply {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
}
.applyWrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--color-gray-200);
  border-radius: var(--br-8xs);
  width: 98px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.frameGroup,
.frameParent,
.frameWrapper5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameGroup,
.frameParent {
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.frameParent {
  align-self: stretch;
  background-color: var(--color-white);
  border-top: 2px solid var(--color-lightseagreen);
  flex-direction: column;
  padding: var(--padding-5xl) var(--padding-81xl);
  gap: var(--gap-9xl);
  color: var(--color-black);
}
.select {
  flex: 1;
  position: relative;
  font-weight: 500;
}
.selectWrapper {
  align-self: stretch;
  background-color: var(--color-lightseagreen);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-3xs);
}
.maskGroupIcon {
  position: relative;
  width: 20.7px;
  height: 21.7px;
  object-fit: cover;
}
.maskGroupContainer,
.maskGroupWrapper {
  align-self: stretch;
  background-color: var(--color-white);
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini) var(--padding-3xs);
  box-sizing: border-box;
}
.maskGroupContainer {
  background-color: var(--color-whitesmoke-200);
}
.frame427318947 {
  width: 81px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.barcodeWrapper,
.unAssignedWrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
}
.barcodeWrapper {
  background-color: var(--color-lightseagreen);
  display: flex;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-3xs);
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.unAssignedWrapper {
  background-color: var(--color-white);
  padding: var(--padding-mini) var(--padding-3xs);
}
.assignedWrapper,
.frame427318946,
.unAssignedWrapper {
  display: flex;
  justify-content: flex-start;
}
.assignedWrapper {
  align-self: stretch;
  background-color: var(--color-whitesmoke-200);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-mini) var(--padding-3xs);
}
.frame427318946 {
  width: 139px;
  flex-direction: column;
  align-items: flex-start;
}
.destination {
  margin: 0;
}
.frame4273189461,
.frame4273189462,
.frame4273189463,
.frame427318948 {
  width: 181px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame4273189462,
.frame4273189463,
.frame427318948 {
  width: 140px;
}
.frame4273189462,
.frame4273189463 {
  width: 121px;
}
.frame4273189463 {
  width: 166px;
}
.description1 {
  flex: 1;
  position: relative;
  font-weight: 500;
  white-space: pre-wrap;
}
.frame427318949,
.printLabelWrapper {
  display: flex;
  justify-content: flex-start;
}
.frame427318949 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.printLabelWrapper {
  align-self: stretch;
  background-color: var(--color-lightseagreen);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-smi) var(--padding-3xs);
  font-size: var(--font-size-base);
}
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-200);
  width: 80px;
  height: 23px;
}
.printLabel1 {
  position: absolute;
  top: 5.8px;
  left: 9px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 11.5px;
}
.rectangleParent {
  position: relative;
  width: 80px;
  height: 23px;
}
.frame4273189464 {
  width: 102px;
  height: 416px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-white);
}
.frame427318947Parent {
  border-top: 1px solid var(--color-lightseagreen);
  border-right: 1px solid var(--color-lightseagreen);
  border-left: 1px solid var(--color-lightseagreen);
  box-sizing: border-box;
  width: 1110px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.openInWindowsWrapper {
  border-radius: var(--br-8xs);
  background-color: var(--color-lightseagreen);
  width: 98px;
  height: 30px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  cursor: pointer;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.combineWrapper,
.content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  align-self: stretch;
  background-color: var(--color-whitesmoke-200);
  flex-direction: row;
  padding: var(--padding-31xl) var(--padding-51xl);
  gap: var(--gap-34xl);
  text-align: center;
  color: var(--color-black);
}
.combineWrapper {
  cursor: pointer;
  text-decoration: none;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-200);
  width: 98px;
  height: 30px;
  flex-direction: column;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  color: inherit;
}
.content1,
.frameParent1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frameParent1 {
  flex: 1;
  justify-content: space-between;
}
.content1 {
  align-self: stretch;
  background-color: var(--color-white);
  border-top: 2px solid var(--color-gray-500);
  justify-content: center;
  padding: var(--padding-9xl) var(--padding-51xl);
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.legal {
  margin: 0;
  font-size: var(--font-size-base);
}
.termsConditions {
  margin: 0;
  text-decoration: underline;
}
.legalTermsContainer {
  flex: 1;
  position: relative;
  line-height: 26px;
  font-weight: 500;
}
.legalTermsConditionsPrivaWrapper {
  width: 132px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.shippingGuideline {
  margin: 0;
  font-size: var(--font-size-xs);
  text-decoration: underline;
}
.informationShippingGuidelineContainer {
  align-self: stretch;
  position: relative;
  line-height: 26px;
  font-weight: 500;
}
.informationShippingGuidelineWrapper {
  height: 114px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  font-size: var(--font-size-base);
}
.frameParent2 {
  width: 320.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xl);
}
.spcsAllRights {
  position: relative;
  font-weight: 500;
}
.footer,
.spcsAllRightsReservedWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.spcsAllRightsReservedWrapper {
  height: 152px;
  justify-content: flex-end;
  text-align: center;
  font-size: var(--font-size-sm);
}
.footer {
  align-self: stretch;
  background-color: var(--color-black);
  justify-content: space-between;
  padding: var(--padding-5xl) var(--padding-35xl);
  color: var(--color-white);
}
.shipmentsConsolidationAllPa {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-lightseagreen);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .content1 {
    height: auto;
  }
}
@media screen and (max-width: 960px) {
  .openInWindowsWrapper {
    display: flex;
  }
  .content {
    display: none;
  }
  .footer {
    flex-direction: row;
  }
}
@media screen and (max-width: 420px) {
  .parcelsConsolidationProcessParent {
    padding-left: var(--padding-31xl);
    box-sizing: border-box;
  }
  .frameParent {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .content1 {
    padding-top: var(--padding-9xl);
    box-sizing: border-box;
  }
  .footer {
    flex-direction: row;
  }
}
@media screen and (max-width: 350px) {
  .content,
  .content1,
  .frameParent2 {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .frameParent2 {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: var(--padding-61xl);
    padding-right: var(--padding-51xl);
  }
  .spcsAllRightsReservedWrapper {
    height: 80px;
  }
}
@media screen and (max-width: 1440px) {
  .applyWrapper:hover,
  .combineWrapper:hover {
    background: linear-gradient(#15dae5, #15dae5), #00adb5;
    transition: 0.3;
  }
}
@media screen and (max-width: 786px) {
  .content {
    background-color: var(--color-whitesmoke-200);
    height: auto;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  .frameParent1 {
    flex: unset;
    align-self: stretch;
  }
  .content1 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 584px) {
  .destinationCountryParent,
  .footer {
    flex-direction: column;
  }
  .footer {
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 648px) {
  .frameWrapper1 {
    flex: unset;
    align-self: stretch;
  }
  .frameDiv {
    flex-direction: column;
  }
  .frameParent {
    padding-left: var(--padding-31xl);
    padding-right: var(--padding-31xl);
    box-sizing: border-box;
  }
  .content {
    flex-direction: row;
  }
}
@media screen and (max-width: 456px) {
  .frameParent {
    align-self: stretch;
    height: auto;
    flex-direction: column;
    gap: var(--gap-lg);
  }
  .content1 {
    padding-top: var(--padding-9xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1105px) {
  .frameWrapper2 {
    flex: unset;
    align-self: stretch;
  }
  .frameWrapper1 {
    flex-direction: column;
  }
  .frameParent {
    align-self: stretch;
    height: auto;
  }
}
