.menuIcon {
  position: relative;
  cursor: pointer;
}
.menuIcon,
.openParcelIcon {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.openParcelIcon,
.spcs {
  position: relative;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  font-size: var(--font-size-6xl);
  color: var(--color-black);
}
.home,
.trackYourShipment {
  cursor: pointer;
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
}
.trackYourShipment {
  display: inline-block;
  width: 146px;
  flex-shrink: 0;
}
.navLinks,
.navLinksWrapper {
  width: 566px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navLinksWrapper {
  width: 611.1px;
  height: 37px;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.logout {
  position: absolute;
  top: 13.41%;
  left: 37.98%;
  font-weight: 600;
}
.logoutIcon {
  position: absolute;
  height: 100%;
  width: 33.72%;
  top: 0;
  right: 66.28%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.logoutParent,
.menu {
  cursor: pointer;
  position: relative;
}
.logoutParent {
  text-decoration: none;
  width: 77.4px;
  height: 26.1px;
  color: inherit;
}
.menu {
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 40px;
  height: 40px;
  background-image: url(/public/menu@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: none;
}
.actions,
.logoParent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.actions {
  justify-content: center;
  gap: var(--gap-smi);
}
.logoParent {
  position: absolute;
  height: 41.49%;
  width: 93.61%;
  top: 29.25%;
  right: 3.19%;
  bottom: 29.25%;
  left: 3.19%;
  justify-content: space-between;
}
.frameChild,
.navContainer {
  align-self: stretch;
  position: relative;
}
.navContainer {
  background-color: var(--color-white);
  height: 96.4px;
  color: var(--color-darkslategray);
}
.frameChild {
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.usersParent {
  align-self: stretch;
  background-color: var(--color-whitesmoke-200);
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-31xl);
  box-sizing: border-box;
  gap: var(--gap-smi);
  font-size: var(--font-size-base);
}
.allUsers {
  flex: 1;
  position: relative;
}
.allUsersWrapper {
  align-self: stretch;
  background-color: var(--color-white);
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-31xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-xl);
}
.totalUsers {
  position: relative;
  font-weight: 600;
}
.addUserWrapper,
.allUsersContainer {
  cursor: pointer;
  text-decoration: none;
  border-radius: var(--br-8xs);
  background-color: var(--color-lightseagreen);
  width: 98px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  color: inherit;
}
.frameParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  text-align: center;
  color: var(--color-white);
}
.totalUsers3TotalAdminParent {
  align-self: stretch;
  background-color: var(--color-gainsboro-200);
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-81xl);
  box-sizing: border-box;
  color: var(--color-black);
}
.select {
  flex: 1;
  position: relative;
  font-weight: 500;
}
.selectWrapper {
  align-self: stretch;
  background-color: var(--color-lightseagreen);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-3xs);
}
.maskGroupIcon {
  position: relative;
  width: 20.7px;
  height: 21.7px;
  object-fit: cover;
}
.maskGroupWrapper {
  background-color: var(--color-white);
  display: flex;
}
.maskGroupContainer,
.maskGroupWrapper,
.maskGroupWrapper1,
.maskGroupWrapper2 {
  align-self: stretch;
  height: 45px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini) var(--padding-3xs);
  box-sizing: border-box;
}
.maskGroupContainer {
  background-color: var(--color-whitesmoke-200);
  display: flex;
}
.maskGroupWrapper1,
.maskGroupWrapper2 {
  background-color: var(--color-white);
  display: none;
}
.maskGroupWrapper2 {
  background-color: var(--color-whitesmoke-200);
}
.members {
  width: 72px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.cityContainer,
.cityWrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
}
.cityWrapper {
  background-color: var(--color-lightseagreen);
  display: flex;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-3xs);
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.cityContainer {
  background-color: var(--color-white);
  padding: var(--padding-mini) var(--padding-3xs);
}
.cityContainer,
.cityFrame,
.members1,
.members2 {
  display: flex;
  justify-content: flex-start;
}
.cityFrame {
  align-self: stretch;
  background-color: var(--color-whitesmoke-200);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-mini) var(--padding-3xs);
}
.members1,
.members2 {
  flex-direction: column;
  align-items: flex-start;
}
.members1 {
  width: 118px;
}
.members2 {
  flex: 1;
}
.fashionKitContainer {
  align-self: stretch;
  background-color: var(--color-white);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-3xs);
}
.members3 {
  width: 219px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.deliveredWrapper {
  align-self: stretch;
  background-color: var(--color-whitesmoke-200);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-3xs);
}
.members4 {
  width: 87px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.eyeIcon {
  display: none;
}
.editIcon,
.eyeIcon {
  position: relative;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.eyeParent,
.members6,
.membersParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.eyeParent {
  flex-direction: row;
  gap: var(--gap-11xs);
}
.members6,
.membersParent {
  flex: 1;
}
.members6 {
  flex-direction: column;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.membersParent {
  flex-direction: row;
}
.openInWindowsWrapper {
  border-radius: var(--br-8xs);
  background-color: var(--color-lightseagreen);
  width: 98px;
  height: 30px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  cursor: pointer;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.back,
.content {
  text-align: center;
}
.content {
  align-self: stretch;
  background-color: var(--color-whitesmoke-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-31xl) var(--padding-51xl);
  gap: var(--gap-34xl);
  font-size: var(--font-size-xs);
  color: var(--color-black);
}
.back {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
  color: var(--color-white);
}
.backWrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: var(--color-lightseagreen);
  border-radius: var(--br-8xs);
  width: 98px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.content1,
.contentInner {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contentInner {
  flex: 1;
  justify-content: flex-start;
}
.content1 {
  align-self: stretch;
  background-color: var(--color-white);
  border-top: 2px solid var(--color-gray-500);
  justify-content: center;
  padding: var(--padding-9xl) var(--padding-51xl);
}
.legal {
  margin: 0;
  font-size: var(--font-size-base);
}
.termsConditions {
  margin: 0;
  text-decoration: underline;
}
.legalTermsContainer {
  flex: 1;
  position: relative;
  line-height: 26px;
  font-weight: 500;
}
.legalTermsConditionsPrivaWrapper {
  width: 132px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.information {
  margin: 0;
}
.shippingGuideline {
  margin: 0;
  font-size: var(--font-size-xs);
  text-decoration: underline;
}
.informationShippingGuidelineContainer {
  align-self: stretch;
  position: relative;
  line-height: 26px;
  font-weight: 500;
}
.maskGroupIcon11 {
  position: relative;
  width: 144.5px;
  height: 30px;
  object-fit: cover;
}
.informationShippingGuidelineParent {
  height: 114px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  font-size: var(--font-size-base);
}
.frameGroup {
  width: 320.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xl);
}
.spcsAllRights {
  position: relative;
  font-weight: 500;
}
.spcsAllRightsReservedWrapper {
  height: 152px;
  flex-direction: row;
  justify-content: flex-end;
  text-align: center;
  font-size: var(--font-size-sm);
}
.footer,
.spcsAllRightsReservedWrapper,
.usersMain {
  display: flex;
  align-items: center;
}
.footer {
  align-self: stretch;
  background-color: var(--color-black);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-5xl) var(--padding-35xl);
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.usersMain {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-lightseagreen);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .content1 {
    height: auto;
  }
}
@media screen and (max-width: 960px) {
  .menuIcon,
  .navLinksWrapper {
    display: none;
  }
  .menu {
    display: flex;
  }
  .membersParent {
    display: none;
  }
  .openInWindowsWrapper {
    display: flex;
  }
  .footer {
    flex-direction: row;
  }
  .usersMain {
    display: flex;
  }
}
@media screen and (max-width: 420px) {
  .content1 {
    padding-top: var(--padding-9xl);
    box-sizing: border-box;
  }
  .footer {
    flex-direction: row;
  }
}
@media screen and (max-width: 350px) {
  .content,
  .content1,
  .frameGroup {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .frameGroup {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: var(--padding-61xl);
    padding-right: var(--padding-51xl);
  }
  .spcsAllRightsReservedWrapper {
    height: 80px;
  }
}
@media screen and (max-width: 1440px) {
  .allUsersContainer:hover,
  .backWrapper:hover {
    background: linear-gradient(#15dae5, #15dae5), #00adb5;
    transition: 0.3;
  }
}
@media screen and (max-width: 786px) {
  .content {
    background-color: var(--color-whitesmoke-200);
    height: auto;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  .contentInner {
    flex: unset;
    align-self: stretch;
  }
  .content1 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 584px) {
  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 648px) {
  .totalUsers3TotalAdminParent {
    padding-left: var(--padding-31xl);
    padding-right: var(--padding-31xl);
    box-sizing: border-box;
  }
  .content {
    flex-direction: row;
  }
}
@media screen and (max-width: 456px) {
  .totalUsers3TotalAdminParent {
    align-self: stretch;
    height: auto;
    flex-direction: column;
    gap: var(--gap-lg);
  }
  .content1 {
    padding-top: var(--padding-9xl);
    box-sizing: border-box;
  }
}
